@model firebase_mvc_auth.Models.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>LoginViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input id="Email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input id="Pass" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="login" type="submit" value="SignIn" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@*<script type="module" src="~/js/login.js" asp-append-version="true"></script>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
