################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/firebase-mvc-auth-app/.vs/firebase-mvc-auth-app
/firebase-mvc-auth-app/firebase-mvc-auth/bin/Debug/net5.0
/firebase-mvc-auth-app/firebase-mvc-auth/obj
/firebase-mvc-auth-app/firebase-mvc-auth/Properties/launchSettings.json
/firebase-mvc-auth-app/firebase-mvc-auth/wwwroot/lib
/firebase-mvc-auth-app/firebase-mvc-auth/firebase-mvc-auth.csproj.user
/firebase-mvc-auth-app/firebase-mvc-auth/Authentication/FirebaseSetup/test-js-authentication-firebase-adminsdk-vvzsp-6b8fe50b8d.json
/firebase-mvc-auth-app/firebase-mvc-auth/Authentication/FirebaseSetup/fir-demo-9063a-firebase-adminsdk-wwos4-d062af9c1a.json
/firebase-mvc-auth-app/firebase-mvc-auth/Authentication/FirebaseSetup/fir-demo-9063a-firebase-adminsdk-wwos4-f0b1ddaaf8.json
